target
grails-grooscript-grailsPlugins.iml
grails-grooscript.iml
index.html
grails-app/assets/javascripts/app/*.js
grails-app/assets/javascripts/grooscript-grails.js
grails-grooscript-*.zip
grails-grooscript-*.zip.sha1
