<plugin name='grooscript' version='0.8' grailsVersion='2.4 &gt; *'>
  <author>Jorge Franco</author>
  <authorEmail>grooscript@gmail.com</authorEmail>
  <title>Grooscript Plugin</title>
  <description>Use grooscript to work in the client side with your groovy code.
It converts the code to javascript and your groovy code will run in the browser.
</description>
  <documentation>http://grooscript.org/grails-plugin/index.html</documentation>
  <type>GrooscriptGrailsPlugin</type>
  <resources>
    <resource>GrooscriptCacheConfig</resource>
    <resource>org.grooscript.grails.tag.GrooscriptTagLib</resource>
  </resources>
</plugin>